<!DOCTYPE html>
<html>
<head>
    <title>Image Text Overlay</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label for="text">Day:</label>
        <input name="day" id="day" type="text"><br>

        <label for="text">Enter Text 1:</label>
        <input name="text1" id="text1" type="text" /><br>

        <label for="text">Enter Text 2:</label>
        <input name="text2" id="text2" type="text" /><br>

        <label for="text">Enter Text 3:</label>
        <input name="text3" id="text3" type="text"/> <br>

        <button type="submit">Generate Image</button>
    </form>
</body>
</html>
